{% extends "base.html" %}
{% block style %}
<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  h2 {
    color: #333;
  }

  form {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    max-width: 500px;
    margin-bottom: 30px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input, select, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }

  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #eaeaea;
  }
</style>
{% endblock style %}

{% block body %}
<h2>Project Form</h2>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  
 <input type="text" name="project_name" value="{{ project.project_name }}"><br><br>

<label>Description:</label><br>
<textarea name="project_description">{{ project.project_description }}</textarea><br><br>

<label>Status:</label><br>
<input type="text" name="project_status" value="{{ project.project_status }}"><br><br>

<label>Deadline:</label><br>
<input type="date" name="deadline" value="{{ project.deadline|date:'Y-m-d' }}"><br><br>
<label for="">thumbnail</label>
<input type="file" name="thumbnail"><br><br>

<br><br>

<label>Created By:</label><br>
<select name="created_by">
  {% for user in users %}
    <option value="{{ user.id }}" {% if project.created_by.id == user.id %}selected{% endif %}>
      {{ user.student_name }}
    </option>
  {% endfor %}
</select><br><br>

  <button type="submit">Update Project</button>
</form>

{% endblock body %}
